#
# =======================================================================
# ------ Ignore file of the "ife" repository
# =======================================================================
#
# -- ignore tmp files that are produce by programs such a vim and finder
#
*.ipr
*.iws
*.iml
*.swp
*.iml
.DS_Store
#
# -- ignore IntelliJ project files
#
.idea/
#
# -- ignore the build directories
#
build/
.gradle/
java/classes/
java/dist/
#
jars/build/
