//---------------------------------------------
// adjustable application runtime properties
//---------------------------------------------
BuildMajor = "1"
BuildMinor = "0"
BuildRev = "0"
BuildType = "Development"
BuildNumber = "0"
banner.host = ''

environments{
    local {
    }

    dev {
    }

    test {
      BuildType = "Beta"
    }

    ops {
      BuildType = "Final"
    }
}
